<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <script src="/css/jquery-3.js" type="text/javascript" ></script>
    <script src="webjars/vue/2.5.16/vue.min.js"></script>
    <script src="/css/axios.min.js"></script>
    <link href="/css/auth.css" rel="stylesheet">
    <script src="/css/calendar.js"></script>
    <link href="/css/calendar.css" rel="stylesheet">
    <title th:text="#{general.info}">Info</title></head>
<body><div class="TitleTop" th:text="#{general.info}">Info</div>
<!-- Mount point -->
<div class="text-white" style="width:600px">
    <table class="text-white">

        <tr><td><label for="beginDate" th:text="#{general.beginDate}">beginDate:</label></td>
            <td><label for="endDate" th:text="#{general.endDate}">endDate:</label></td></tr>
        <tr><td><input id="beginDate" name="beginDate" type="text" v-model="beginDate" onclick="showcalendar(this)"/></td>
         <td><input id="endDate" name="endDate" type="text" v-model="endDate" onclick="showcalendar(this)"/></td></tr>
    </table>
    <div class="text-white" style="width:200px">
        <button onclick="refresh()" value="value" class="btn btn-primary btn-block btn-large" th:text="#{general.refresh}">REfresh</button>
    </div>
        <label id="response"></label></label>
</div>
<table class="text-white hotels" id="payments-table">
    <thead>
    <tr>
        <td th:text="#{general.nameHotel}">Name of hotel</td>
        <td th:text="#{general.totalAmmount}">total ammount</td>
        <td th:text="#{general.total1}">card</td>
        <td th:text="#{general.total2}">cash</td>
        <td th:text="#{general.total3}">buisness</td>
        <td th:text="#{general.total4}">buisnessBank</td>
    </tr>
    </thead>
    <tbody id="tbody">
    <!-- This is a Vue2 template -->
    <tr v-for="payment in payments">
        <td>{{payment.name}}</td>
        <td>{{payment.paymentTotal}}</td>
        <td>{{payment.payment1}}</td>
        <td>{{payment.payment2}}</td>
        <td>{{payment.payment3}}</td>
        <td>{{payment.payment4}}</td>
    </tr>
    </tbody>
</table>
<div>
    <div class="text-white" style="width:200px">
        <form method="get" action="/hotels">
            <button type="submit" class="btn btn-primary btn-block btn-large" th:text="#{general.listhotels}">List of Hotels</button>
        </form>
    </div>
    <div class="text-white" style="width:200px">
        <form method="get" action="/logout">
            <button type="submit" class="btn btn-primary btn-block btn-large" th:text="#{general.logout}">Logout</button>
        </form>
    </div>
</div>
<script>
    // fetch, ES6, Vue
    var date = document.getElementById('beginDate');
    var dateObj = new Date();
    dateObj.setDate(dateObj.getDate()-1);
    date.value = dateObj.toISOString().slice(0,10);
    var date2 = document.getElementById('endDate');
    var dateObj2 = new Date();
    date2.value = dateObj2.toISOString().slice(0,10);

    function refresh() {
        var beginDate = document.getElementById('beginDate');
        var endDate = document.getElementById('endDate');
        var tbody = document.getElementById('tbody');
        tbody.innerHTML = "<tr v-for=\"payment in payments\">\n" +
            "        <td>{{payment.name}}</td>\n" +
            "        <td>{{payment.paymentTotal}}</td>\n" +
            "        <td>{{payment.payment1}}</td>\n" +
            "        <td>{{payment.payment2}}</td>\n" +
            "        <td>{{payment.payment3}}</td>\n" +
            "        <td>{{payment.payment4}}</td>\n" +
            "    </tr>"
        axios.get('/api/allpayments', {params: {beginDate : beginDate.value, endDate : endDate.value}})
            .then(response => {
            new Vue({
                el: '#payments-table',
                data: {
                    payments : response.data
                }
            })
        });
    }
    /*$( function() {
        $( "#beginDate" ).datepicker();
    } );*/
    window.onload = function () {
        refresh();
    }

</script>
</body>
</html>
